/* CSS settings */
/* 
    CSS Rules 
    h1 = element selector, .Name = Class selector, #Name = ID Selector
    {} = declaration block
    property: value;
*/
/* Universal Selector * {} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Element Selectors body {} */
body {
    font-family: 'Roboto', sans-serif;
    background-color: lightgreen;
}
/* Class Selectors */
.center {
    text-align: center;

}
/* ID Selectors #IDName {} */
/* Media Querries */
